.menu {
    box-sizing: border-box;
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #FFF;
    padding: 0 1.5rem;
    background-color: #1b1b1be9;
    height: 4rem;
    overflow: hidden;
    justify-content: space-between;
}

.menu span, .menu i {
    font-size: 1.25rem;
    line-height: 1.25%;
}

.homeBtn {
    cursor: pointer;
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px transparent;
    transition: 0.3s ease;
    min-width: 80px;
    overflow: hidden;
}

.homeBtn:hover {
    box-shadow: 0 0 20px 10px rgba(249, 249, 249, 0.7);
    filter: brightness(2);
}

.homeBtn:active {
   color: #1b1b1be9;
   background-color: #FFF;
}

.homeBtn  i, .homeBtn span {
    display: flex;
    margin: 0rem 1rem;
}
.menuArea2 {
    display: flex;
    height: 100%;
}
.menuArea2 div {
    margin: 0rem 1rem;
}

@media only screen and (max-width: 850px) {

    .homeBtn {
        width: 25vw;
    }

}